
@{
    ViewData["Title"] = "Index";
    Layout = "_tempLayout";
}
@model List<Course>
<h1 class="mb-4 text-center">Welcome To All Instructor Page </h1>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr class="text-center">
            <td>Course Name </td>
            <td>Course Degree </td>
            <td>Course Min Degree </td>
            <td>Coures Page</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Course course in Model)
        {
            <tr>
                <td class="text-center align-middle"> @course.Name </td>
                <td class="text-center align-middle"> @course.Degree </td>
                <td class="text-center align-middle"> @course.MinDegree</td>
                <td class="text-center align-middle text-decoration-none text-black">
                    <a class="btn btn-success" asp-controller="courses" asp-action="EditCourse" asp-route-id="@course.ID"> Edit @course.Name Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="text-center" asp-action="New">Add New Course</a>



